<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Edit Blog
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form action="/api/blog/editblog/<%=locals.blog._id %>" method="post" enctype="multipart/form-data" >
                -
                9<input type="file" name="coverpic" id="coverpic" name="filename">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title" value="<%= locals.blog.title %>" aria-describedby="emailHelp" required>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Add Description"  name="description" id="Description" style="height: 100px"><%= locals.blog.description %></textarea>
                    <!-- <label for="description">Description</label> -->
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                
            </form>
        </div>
       
      </div>
    </div>
  </div>