<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header") %>
<body>

    <%- include('./partials/navbar') %>

    <div style="height: 75px;">
        
        <% if(locals.error) {%>
            <div class="alert alert-danger" role="alert">
                <%= locals.error %>
            </div>
            <% } %>
            
        </div>
    <form class="container" action="/api/user/login" method="post">
        <h2>LOGIN</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>

    


    <%- include("./partials/footer") %>
    
</body>
</html>