<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header") %>
<body>

    <%- include('./partials/navbar') %>

    <form class="container" action="/signup" method="post">
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" id="exampleInputName1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>


    <%- include("./partials/footer") %>
    
</body>
</html>